body {
    text-align: center;
    background: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/austin/austin2_copy_1__211bcd0d-a354-4c0f-8203-107ad7774905.jpg");
    background-size: cover;
    background-position: center;
    color: WHITE;
    font-family: helvetica;
  }
  p {
     font-size: 22px;
  }
  input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: orange;
    color: white;
  }
